.carta-robada {
  position: absolute;

  bottom: 300px;
  left: 30px;
  width: 120px;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;

  
}

.carta-img {
  width: 120px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}